@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat-light.woff2") format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat-regular.woff2") format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat-bold.woff2") format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/*Header*/
.header-page {
    background: url("../img/section-1header.jpg") center/cover no-repeat fixed;
    text-align: center;
    padding-bottom: 243px;
}

.navigation {
    height: 120px;
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    padding-top: 25px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-item {
    display: flex;
    align-items: center;
}

.logo-h {
    background-color: #18CFAB;
    width: 60px;
    height: 65px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 31px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.text-logo {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 48px;
    margin-left: 6px;
    font-weight: 400;
}

.text-logo-accent {
    color: #18CFAB;
    font-weight: 700;
}
.container-navigation-two{
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
}

.navigation-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.navigation-link {
    text-transform: uppercase;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.navigation-link:hover {
    color: #18CFAB;
    padding-bottom: 52px;
    border-bottom: 2px solid #18CFAB;
}

.advertising-item {
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 22px;
    padding-top: 264px;
}

.advertising-item-accent {
    color: #18CFAB;
}

.advertising-item-creative {
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 22px;
}

.advertising-text {
    color: #D4D4D4;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    padding-bottom: 134px;
}
.link {
    width: 169px;
    padding: 16px 11px;
    background-color: #18CFAB;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 4px;
    box-shadow: inset 0 4px #FFFFFF;
    border: none;
}
.advertising-link-explore{
    margin-right: 26px;
}
.advertising-link-purchase {
    width: 168px;
    background-color: #00CBF6;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: inset 0 4px #FFFFFF;
    border: none;
}

/*2*/
.section-menu-info {
    text-align: center;
}

.list-info {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 84px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.list-info-proposal {
    width: 100%;
    padding-top: 95px;
    padding-bottom: 110px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.proposal-one {
    background: #1C2A33;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.proposal-two {
    background: #18CFAB;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.link-info-proposal {
    color: #FFFFFF;
}

.link-info-proposal-accent-color {
    color: #18CFAB;
}

.image-info-proposal {
    display: inline;
}

.image-info-height {
    margin-top: 18px;
}

.text-info-proposal {
    margin-top: 40px;
}

/*3*/
.item-services {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    margin: 0;
    position: relative;
}

.item-services-our {
    margin-bottom: 101px;
}

.item-services:before,
.item-services:after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.item-services:after {
    transform: translateX(-20%);
    bottom: -25px;
}
.services-list {
    display: flex;
    padding-bottom: 28px;
    padding-inline-start: 0;
}

.services-list-item {
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-list-item:hover {
    border: 1px solid #18CFAB;
}

.active {
    background-color: #18CFAB;
    position: relative;
}

.active:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 45px;
    left: 47%;
    background: #18CFAB;
    transform: rotate(136deg);
}

.services-link {
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 36px;
}

.services-list-image {
    padding-left: 0;
}

.services-item-image {
    display: none;
}

.show {
    display: flex;
}

.services-image {
    margin-right: 15px;
}

.services-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin: 0;
}

/*4*/
.section-buy-portfolio {
    background: url("../img/layer-2.png") center/cover no-repeat fixed;
    text-align: center;
    padding-bottom: 127px;
}

.item-buy-portfolio {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    padding-top: 125px;
    margin-bottom: 12px;
}

.text-buy-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 65px;
}

.link-buy-portfolio {
    padding: 16px 11px;
}

/*5*/
.section-work {
    text-align: center;
    background: #E9EDEF;
    padding-bottom: 99px;
}

.work-item {
    padding-top: 96px;
    margin-bottom: 97px;
}

.list-work {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #717171;
    margin-bottom: 71px;
}

.item-work {
    padding: 15px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    border: 1px solid #DADADA;
}

/*//js*/
.item-work-active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.hide {
    display: none;
}

/*//js*/

.item-work:hover {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.list-work-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;
    justify-items: center;
}

.item-work-image {
    position: relative;

}

.item-work-image:hover .item-work-position {
    display: block;
}

.item-work-position {
    width: 285px;
    height: 211px;
    border-top: 2px solid #18CFAB;
    text-align: center;
    position: absolute;
    top: 0;
    background-color: #FFFFFF;
    display: none;
}

.icon {
    display: inline;
    margin-top: 41px;
    margin-bottom: 24px;
}

.text-work {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 10px;
}

.text-work-web {
    color: #8A8A8A;
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
}

.button-work {
    width: 168px;
    height: 63px;
    background: #18CFAB;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    margin-top: 70px;
    padding-left: 48px;
}

.image-plus {
    position: absolute;
    width: 18px;
    height: 19px;
    margin-left: -19px;
    margin-top: 8px;
}

/*6*/
.item-breaking {
    padding-top: 82px;
    margin-bottom: 100px;
}

.list-breaking {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-left: 0;
    justify-items: center;
}

.list-breaking-item {
    position: relative;
}

.breaking-data {
    width: 70px;
    height: 68px;
    background: #203E38;
    position: absolute;
    top: 0;
    right: 0;
}

.breaking-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 10px;
}

.breaking-text-two {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: 0;
}

.breaking-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.breaking-paragraph {
    margin-left: 17px;
    margin-top: 0;
    margin-bottom: 44px;
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
}

.list-breaking-item:hover .breaking-data {
    background: #18CFAB;
}

.list-breaking-item:hover .breaking-item {
    color: #18CFAB;
}

/*7*/
.section-people {
    background: url("/img/layer333.png") center/cover no-repeat fixed;
}

.item-people {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    padding-top: 98px;
    margin-bottom: 99px;
}

.people-image {
    margin: 0 auto;
}
.list-people-big{
    text-align: center;
}
.item-people-big{
    display: none;
}
.active-big{
    display: block;
}
.active-pos{
    /*position: relative;*/
    /*bottom: 20px;*/
    transform: translateY(-0.5in);
    transition: 2s;
}
.list-people {
    display: flex;
    justify-content: center;
    padding-left: 30px;
}
.item-people-list{
    margin-right: 30px;
}
.text-people {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin-top: 36px;
    margin-bottom: 37px;
}

.name-people {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
}

.profession-people {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}
.image-people-big{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 12px rgb(3 218 164 / 25%);
    display: inline;
    margin-top: 38px;
    margin-bottom: 57px;
}
.image-people {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px rgb(3 218 164 / 25%);
}
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 99px;
}
.btn-one {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
    color: #BBBBBB;
}
.btn-one:hover{
    border: none;
    background: #18CFAB;
    color: #FFFFFF;
}
.btn-two {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
    color: #BBBBBB;
}
.btn-two:hover{
    border: none;
    background: #18CFAB;
    color: #FFFFFF;
}
.footer {
    width: 100%;
    background-color: #22353F;
    height: 121px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding-top: 48px;
}

.container-theHam {
    color: #18CFAB;
}